# Ignore compiled files
*.exe
*.out
*.class

# Ignore output folders
Patterns/output/

# Python
__pycache__/
*.pyc

# C++
*.exe
*.out

# Java
*.class

# VS Code
.vscode/

# macOS
.DS_Store

# Logs
*.log
